@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
body{
	font-family: 'Montserrat', sans-serif !important;
}  
.body{
    padding: 0;
    margin: 0;
}  
  .leftSidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #060629;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
  }
  .leftSidenav > div:hover{
      background-color: #157CB0;
  }
  .sidenav {
    height: 100%;
    width: 376px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    border: 1px solid #E9EEF1;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
  }
  
  .leftSidenav a {
    padding: 20px 20px 20px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  .logo{
      font-size: 25px !important;
  }
  .sidenav a:hover, .leftSidenav a:hover {
    color: #f1f1f1;
  }
  
.closebtn {
    display: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
    color: #f1f1f1;
}
.close-add-admin{
    /* display: none; */
    cursor: pointer;
    color: #f1f1f1;
}
#main{
      margin-left: 243px;
}
.top2{
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #cacbcc;
}
.content-right{
    display: flex;
}
.content-right > div{
    margin-right: 30px;
    padding: 0 15px 0 15px;
}
.content > h3{
    line-height: 10px;
}
.content > p{
    font-size: 13px;
    line-height: 5px;
}
.plus-icon, .menu-icon, .fa-search{
    font-size: 25px;
    color: #3D92EC;
    cursor: pointer;
}
.plus-icon:hover{
    background-color: #3D92EC;
    color: #ffffff;
}
.plus-icon{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 2px 0 0 12px !important
}
.search-bar, .plus-icon{
    border: 1px solid #3D92EC;
}
.search-bar > input, .side-body > div > div > textarea{
    border: none;
    height: 95%;
}
.search-bar > input:focus, .side-body > div > div > textarea:focus{
    outline: none;
}
.center-word{
    padding: 40px;
    /* background-color: #8b94a7; */
}

/* ========================================================================= */

.cards > div{
    width: 300px !important;
    height: 160px;
    font-size: 15px;
    color: #ffffff;
}
.image-icon{
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 4rem;
}
.number{
    font-size: 3rem;
}
.more-info{
    background-color: #0000001c;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
}
.calendar-card{
    width: 400px;
}
.overlay-pin{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0606295b;
    padding: 0;
    z-index: 5;
}
.error{
    font-size: 10px;
    color: red;
}
.password_error, .username_error, 
.confirm_password_error, .pin_error, 
.cat_error, .cat-error, .text-error,
.image-error, .title-error{
    display: none;
}
.delete > input[type=checkbox]{
    visibility: hidden;
}
.la-trash{
    font-size: 25px;
    color: red;
    cursor: pointer;
}
.blog-menu{
    display: none;
}
.arrow-toggle{
    cursor: pointer;
}
.blog-menu > ul > a > li:hover{
    background-color: #157CB0 !important;
    cursor: pointer;
}
.list-group > a{
    padding: 0px;
    font-size: 12px;
    text-decoration: none;
}
#editorjs{
    border: 1px solid grey;
}


/* ==============================================SWITCH====================================== */
.switch {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 20px;
    border-radius: 20px;
    background: #f5aa55;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
  }
  .switch::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 18px;
    height: 18px;
    background: #fafafa;
    border-radius: 50%;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
  }
  input:checked + .switch {
    background: #72da67;
  }
  input:checked + .switch::before {
    left: 27px;
    background: #fff;
  }
  input:checked + .switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
  }




  /* ==================================================================================== */


  
.overlay_upload_images{
    height: 100%;
    width: 100%;
    /* display: none; */
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay_upload_content{
    position: relative;
    top: 25%;
    width: 100%;
    /* text-align: center; */
    margin-top: 30px;
    margin: auto;
    background-color: #fff;
}
.uploadFlexContainer{
    justify-content: center;
    padding: 0px;
    width: 80%;
    /* margin: auto; */
  }
  /* .uploadFlexContainer > div {
    background-color: #fff;
    text-align: center;
    line-height: 75px;
    padding: 20px;
  } */
  .drop-zone{
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px #888888;
    /* width: 200px; */
    margin-top: 10px;
    height: 300px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    border: 4px dashed #ddd;
  }
  .drop-zone--over{
    border-style: solid ;
  }
  .drop-zone__input{
    display: none;
  }
  .drop-zone__thumb{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #dddddd;
    background-size: cover;
    position: relative;
  }
  .drop-zone__thumb::after{
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    text-align: center;
  }




  /* ====================================================================================== */

  /* ================================================================================== */
@media screen and (max-width: 750px) {
    .closebtn{
        display: block;
    }
    #main{
        margin-left: 0px;
    }
    .leftSidenav{
        width: 0;
    }
    .calendar-card{
        width: 100%
    }
    .overlay-pin > div{
        width: 50% !important;
    }
    
}


@media screen and (max-width: 500px) {
    .overlay-pin > div{
        width: 100% !important;
    }
}