* {
    box-sizing: border-box;
  }
  
  /* body {
    
  
  } */

  
  .calendar-grid {

    margin:0;
    font-size: .8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    /* background:lightgoldenrodyellow; */


    /* margin:1em auto; */
    /* width:50%; */
    /* height: 60v; */
    grid-gap: 10px 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 2em 2em 2em 2em 2em 2em 2em 2em; 
    grid-auto-rows: 1fr;
    border-top: 4px solid #4076ef;
    padding-top:1em;
  }
  
  .calendar-day {
    padding:.4em;
    height:100%;
    width:100%;
    background:#4076ef;
    border-radius:5px;
  }
  
  .current-day {
    background: #060629;
  }
  
  .first-day {
    grid-column-start: 4;
  }
  
  .calendar-dayname {
    padding:.4em;
    text-align:center;
    background:#060629;
    color: #fff;
  }
  
  .calendar-title {
    text-align:center;
    grid-column: 2 / -2;
    font-size: 2em;
    color: #060629;
    padding-bottom: 5px;
  }
  
  .calendar-nav a {
    display:block;
    width:100%;
    height:100%;
    font-size: 2em;
    cursor: pointer;
  }
  
  .calendar-nav__right {
    text-align: right;
  }
  