@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
body{
	font-family: 'Montserrat', sans-serif;
}
html {
	scroll-behavior: smooth;
}
main{
	padding: 0;
	margin: 0;
}
#header > nav {
	height: 11vh;
	background-color: #060629;
	color: #fff;
	font-weight: 600;
}
.nav-div{
	height: 100%;
}
#logo{
	max-height: 100%;
}
nav > div > div > div > a{
	text-decoration: none;
	color: #fff;
}
#navbarNavAltMarkup{
	background-color: #060629;
}

#ad-section {
	padding: 0;
	margin: 0 ;
}
  
#ad-container {
	width: 100%;
	height: 800px;
	display: flex;
	position: relative;
	overflow: hidden;
	align-content: flex-end;
}
  
#ad-video {
	position: relative;
	object-fit: cover;
	/* width: 100%;
	height: 100%; */
	z-index: -1;
}
  
  #ad-content {
	position: absolute;
	right: 0;
	color: #fff;
	margin: 20rem 10rem;
	padding: 5rem;
	background-color: #00000052;
	align-self: flex-end;
	border-radius: 1rem;
}
.about{
	padding: 50px;
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
}
.about > .d-flex{
	width: 100%;
}
.about > .header {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2rem;
}
.about > .body{
	line-height: 40px;
}
.about-img{
	width: 500px;
}
.impact{
	background: url('../../public/images/map.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position-y: center; */
}
.impact > div > .header{
	font-size: 3rem;
	font-weight: 600;
}
.impact > div{
	background-color: #ffffffb2;
}
.header > span{
	font-family: 'Rock Salt', cursive;
}
.box > div{
	width: 180px;
}
.box > div > .number, .contact-header{
	font-size: 2rem;
	font-weight: 600;
}
.box > div > .line{
	background-color: #4076ef;
	height: 10px;
	width: 100%;
}
.box > div > div:nth-child(3){
	width: 60%;
	font-family: 'Montserrat', sans-serif;
}
.buttons > .btn{
	background-color: #4076ef;
	color: #fff;
	border-radius: 3px;
	border: 1px solid #060629;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.buttons > .btn:hover{
	background-color: #060629;
	font-weight: bold;
}
.blog-header{
	font-size: 3rem;
	font-weight: 600;
	color: #060629;
	text-transform: uppercase;
}
.blog-posts > div{
	width: 300px;
}
.post-header, .view-more-blog-posts{
	font-size: 1.5rem
}
.post-body > p:nth-child(2):hover, .view-more-blog-posts:hover{
	color: #4076ef;
	cursor: pointer;
}
.social > div{
	background-color: #060629;
	color: #fff;
	font-size: 18px;
}

.lab{
	font-size: 25px;
	color: #fff;
}

/* ==================================Message to email=================== */

.errorField{
	display: none;
	color: #ce3232;
	font-size: 15px;
}





/* ====================================================================== */






/* -------------------------------about------------------------------ */

.header-about{
	background: url('../../public/images/about-header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 80vh;
	width: 100vh;
	/* padding: 40vw */
}
.header-children-homes{
	background: url('../../public/images/hungry-kid.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 40vh;
	width: 100vh;
	background-color: #4076ef;
}

.header-about-blog{
	background: url('../../public/images/attention-class.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 40vh;
	width: 100vh;
	/* padding: 40vw */
}
.header-about-blog > div{
	background-color: #1d1c1c57;
	max-width: max-content;
	border-radius: 10px;
	color: #fafafa;
}
.each_cat > a{
	text-decoration: none;
	color: rgb(82, 81, 81) ;
}
.admin_login{
	background-color: #4076ef;
	padding: 100px;
	width: 100%;
	height: 100%;
}
.header-about2 > div{
	padding: 100px;
	background-color: #00000096;
	width: 100%;
	height: 100%;
	color: #ffffff;
}
.header-about2 > div > h1{
	font-family: cursive;
	font-size: 4rem;
	/* line-height: 200px; */
}
.header-about2 > div > h4{
	font-size: 2rem;
}
.orphanage-page{
	max-height: 80vh;
	width: 100vh;
}
.details-overview{
	width: 500px;
}
.overview > p{
	line-height: 30px;
}
.contact-info{
	font-size: 20px;
}
.indicator-green{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #04f704;
}
.indicator-orange{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #f85d1f;
}
.view_body > a{
	text-decoration: none;
	color: #222222;
}
.editDetails, .editDetails-switch{
	margin-left: 20px;
	color: #999;
	cursor: pointer;
	font-size: 25px;
}
.editOverlay, .editOverlay-switch{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #22222263;
	z-index: 5;
}


/* Ow; Slider CSS*/

.owl-wrapper {
	positon: relative;
  }
  
  .owl-controls {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
  }
  
  .owl-theme .owl-controls .owl-page span {
	background: #fff !important;
  }
  
  .owl-img {
	width: 100%;
  }
  
  .owl-text-overlay {
	position: absolute;
	text-align: right;
	width: 70%;
	min-height: 50%;
	top: 40%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
	background: rgba(0, 0, 0, 0.4);
	padding-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 15px 50px 30px 5px;
  }
  
  h2.owl-title {
	font-size: 70px;
	font-weight: bold;
	margin-bottom: 20px;
	
  }
  
  
  
  .owl-theme .owl-controls .owl-page span:active {
	background: #fff !important;
  }
  
  /* hide previous and next */
  
  .owl-buttons {
	visibility: hidden;
	display: none;
  }


/* =============================================================================== */

/* ==============================================SWITCH====================================== */
.switch {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 20px;
    border-radius: 20px;
    background: #f5aa55;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
  }
  .switch::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 18px;
    height: 18px;
    background: #fafafa;
    border-radius: 50%;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
  }
  input:checked + .switch {
    background: #72da67;
  }
  input:checked + .switch::before {
    left: 27px;
    background: #fff;
  }
  input:checked + .switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
  }
.la-spinner, .alert-e, .errorGen{
	display: none;
}

/* =============================Animation=================================== */
.hidden{
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}
.show{
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

.donate_body{
	background: url('../../public/images/donation.jpg');
	/* background-color: #fff; */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
}
.overlay-donate{
	background-color: #00000075;
	width: 60%;
	color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 3px #434344;
}
.payment-form-parent{
	background-color: #000000d7;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	padding-top: 100px;
	display: none;
}
.payment-form-parent > div{
	width: 50%;
	margin: auto;
	background-color: #f3f3f3;
	padding: 30px;
}
#paymentForm > div.alert{
	display: none;
}

  /* ================================================================================== */
@media only screen and (max-width: 1115px) {
	.details-overview{
		width: 450px;
	}
	
}
@media only screen and (max-width: 1015px) {
	.details-overview{
		width: 350px;
	}
	.overlay-donate{
		width: 100%;
	}

}

  @media only screen and (max-width: 850px) {
	.card-div{
		position: static !important;
	}
	.details-overview{
		width: 100%;
	}
	.owl-carousel{
		margin-top: 70px;
	}
	h2.owl-title {
		font-size: 40px
	}
	.welcome{
		font-size: 20px;
	}
	.h3>em{
		font-size: 15px;
	}
	.contact{
		width: 100% !important;
	}
}

@media only screen and (max-width: 600px) {
	.donate_body{
		padding: 0 !important;
	}
	.overlay-donate{
		margin: 0;
	}
    #regForm, #loginForm {
        width: 100%;
	}
	.header-about2 > div > h1{
		font-size: 10vw;
	}
	.header-about2 > div > h4{
		font-size: 8vw;
	}
	.social > div{
		font-size: 13px;
	}
	h2.owl-title {
		font-size: 25px
	}
	.welcome{
		font-size: 15px;
	}
	.h3>em{
		font-size: 12px;
		position: relative;
		top: -20px;
	}
	.about{
		padding: 0;
		padding-top: 50px
	}
	.contact-info{
		font-size: 15px;
	}
	.card{
		width: 100% !important;
	}
	.learn-more{
		position: relative;
		top: -20px;
	}
	.about > .header{
		font-size: 20px;
	}
	.about > .body{
		font-size: 15px;
	}
	section.blog-section > h2{
		font-size: 20px;
	}
	.view-more-blog-posts{
		font-size: 18px;
	}
	.payment-form-parent > div{
		width: 100%
	}
}
@media only screen and (max-width: 600px) {
	.h1, .h2{
		font-size: 30px;
	}
	.h5{
		font-size: 15px;
	}	
}